## General
.DS_Store
.env
*.log
node_modules/
dist/
build/
target/
out/

## Java
*.class
*.jar
*.war
*.ear
/bin/
/out/
/.classpath
/.project
/.settings/

## Maven / Gradle
/target/
/build/
.gradle/

## Python
__pycache__/
*.pyc
*.pyo
*.pyd
venv/
env/

## IDEs
.idea/
.vscode/
*.iml

## macOS
.DS_Store
